
[UserJobTest]

# Two *different* KBase user accounts.
test.token1 =
test.token2 =

# The KBase authorization server legacy url.
test.auth.url = https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login/

# The KBase authorization server legacy Globus authorization API url.
test.globus.url = https://ci.kbase.us/services/auth/api/legacy/globus/

# MongoDB exe file location
test.mongo.exe = <path to mongod executable>
# 'true' to use the MongoDB WiredTiger file storage engine (3.0+)
test.mongo.useWiredTiger=false

# The path to the jars dir inside the jars repo, e.g.
# [path to jars repo]/lib/jars
test.jars.dir =

# Temp directory for various database and server files. This path cannot have
# any system specific information (e.g. ~, $HOME, etc)
test.temp.dir = ujs_test_temp

# Set to 'true' (without quotes) to keep temporary test files
# (for debugging purposes), any other value is false
test.temp.dir.keep=false